* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

h1{
    color: #ebebeb;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    align-items: right;
}

h2{
    color: #ebebeb;
    font-size: 37px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    color: #ebebeb;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 120px;
}

#politicas{
    color: #5c5c5c;
    font-size: 10px;
    /* font-weight: 700; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    max-width: 100%;
    margin-top: -10px;
}

#politicas span{
    color:#2181ff;
    font-size: 10px;
}

#politicas span:hover{
    text-decoration: underline;
}

.textInicial{
    position: absolute;
    padding-top: 80px;
    margin-left: 1150px;
}

section {
    display: flex;
    justify-content: space-around;
    min-height: 640px;
    width: 100%;
    max-width: 980px;
    padding-bottom: 0px;
    padding-top: 175px;
}


section div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section div p {
    width: 425px;
    margin-bottom: 38px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 350px;
    padding: 18px 16px 25px 16px;
    align-items: center;
}

form p {
    font-size: 8px;
    color: #1c1e21;
    margin-bottom: 20px;
    font-family: Helvetica;
    align-items: center;
    justify-content: center;
}

form span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: #ffffff;
}

.LogoPricipal {
width: 350px;
height: 350px;
margin-right: 425px;
margin-top: 65px;
}

#cadastrar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    font-size: 14px;
}

#cadastrar_link {
    font-weight: 700;
    color: #0088e2;
}

#cadastrar_link:hover {
    text-decoration: underline;
}

.OU {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Helvetica;
}

.OU hr {
    width: 125px;
    margin-top: 10px;
    margin-bottom: 10px;
}


ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    line-height: 1.6;
}

li {
    color: #737373;
    padding-left: 15px;
    font-size: 13px;
    font-family: Helvetica;
}

#logo {
    margin: 25px 0px 30px 0px;
    height: 65px;
    width: 200px;
}

#inscrever a {
    color: #2c2c2c;
    text-decoration: none;
}

#inscrever img {
    width: 15px;
    height: 15px;
}

#inscrever {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    line-height: 37px;
    padding: 2px 20px;
    width: 90%;
    color: white;
    font-weight: 550;
    margin-top: 4px;
    margin-bottom: 15px;
}

#conta a {
    color: #ffffff;
    text-decoration: none;
}

#conta {
    background-color: #0c92ff;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    line-height: 37px;
    padding: 0px 16px;
    width: 90%;
    color: white;
    font-weight: 550;
    margin-top: 4px;
    margin-bottom: 15px;
}

#conta:hover {
    background-color: #0680e4;
    transition: 0.5s;
}

#entrar a {
    color: #0c92ff;
    text-decoration: none;
}

#entrar {
    background-color: #00000000;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    line-height: 37px;
    padding: 0px 16px;
    width: 90%;
    color: white;
    font-weight: 550;
    margin-top: 4px;
    margin-bottom: 15px;
    border: #535353 solid 1px;
}

#entrar:hover {
    background-color: #0c92ff0c;
    transition: 0.5s;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100px;
    /* margin-top: 15px; */
    padding: 35px 15px;
    padding-bottom: 10px;
    /* position: absolute; */
    bottom: 10px;
    width: 100%;
}

footer div {
    display: flex;
    flex-direction: column;
    /* max-width: 980px; */
}

footer li:hover {
    text-decoration: underline;
}

.label {
    border: none;
}

@media (max-width: 900px) {
    section {
        flex-direction: column;
        margin-top: -38px;
        /* align-items: center; */
        padding-top: 0px;
    }

    section div {
        align-items: center;
    }

    section div p {
        width: 400px;
        text-align: center;
        /* margin-bottom: 20px; */
    }
    .textInicial{
        opacity: 0;
    }

    .LogoPricipal {
        width: 150px;
        height: 150px;
        align-items: center;
        justify-content: center;
        margin-left: 36%;
        margin-top: 65px;
    }
}

@media (max-width: 1600px) {
    section {
        flex-direction: column;
        margin-top: -38px;
        /* align-items: center; */
        padding-top: 0px;
    }

    section div {
        align-items: center;
    }

    section div p {
        width: 400px;
        text-align: center;
        /* margin-bottom: 20px; */
    }
    .textInicial{
        opacity: 0;
    }

    .LogoPricipal {
        width: 150px;
        height: 150px;
        align-items: center;
        justify-content: center;
        margin-left: 42%;
        margin-top: 65px;
    }
}